<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Twitter Curiosity</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <script src="https://cdn.jsdelivr.net/gh/calvinmetcalf/leaflet.shapefile@gh-pages/leaflet.shpfile.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/calvinmetcalf/shapefile-js@gh-pages/dist/shp.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/geojson-bbox@0.0.0/dist/geojson-bbox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<style type="text/css">
  
  #table-results{
    overflow-y:scroll;
    height:450px;
  }

  body {
    overflow-y: hidden;
  }
  
  .display-section {
    overflow-y: scroll;
    height: 700px;
  }

</style>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div id="digisat" style="width: 50%; height: 100%; position: absolute;"></div>
    </div>
    <div class="col display-section">
       <div class="p-3 bg-light text-center">
          <p class="display-5">Curiosity #<span id="db_count">{{count}}</span></p>
          
          <hr />
          <form>
          <div class="row">
            <div class="col">
              <input type="button" name="tweets" value="Get New Tweets" id="get_tweets"/>
            </div>
            <div class="col">
              
              <div class="form-check">
                <select name="time" id="sentiment_by_time" class="form-select form-select-sm" aria-label=".form-select-lg example">
                  <option selected value="_">Show Sentiment By</option>
                  <option value="8_12">Morning</option>
                  <option value="13_16">Afternoon</option>
                  <option value="17_20">Evening</option>
                  <option value="21_23">Night</option>
                  <option value="0_7">Late Night</option>
                </select>
              </div>

            </div>
            <div class="col">
              
              <div class="form-check">
                <select name="tweets_type" id="tweet_by_sentiment" class="form-select form-select-sm" aria-label=".form-select-lg example">
                  <option selected value="_">Show Tweets By</option>
                  <option value="Positive">Positive Sentiment</option>
                  <option value="Neutral">Neutral Sentiment</option>
                  <option value="Negative">Negative Sentiment</option>
                </select>
              </div>

            </div>
          </div>
        </form>

          <div class="progress" id="pbar">
            <hr/>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              Fetching Results...
            </div>
          </div>

          <div id="tile-error" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
              <div class="toast-body">
                An error occurred for this area. Please choose a different location
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
          
          <div id="tile-success" class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div id="tile-success-text">
            </div>
          </div>

          <div id="table-results">
            {{data | safe}}
          </div>

          <div id="bbox-results">
            <div class="row">
              <div class="col">
                <h3>
                  <span id="state"></span>
                  <small class="text-muted" id="area"></small> | <small class="text-muted" id="count"></small>
                </h3>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col" id="wordcloud-results"></div>
              <div class="col" id="table-devices-results"></div>
            </div>
            <div class="row">
              <div class="col">
                <canvas id="lineChart" width="100%"></canvas>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <blockquote class="blockquote text-center">
                  <p class="mb-0">
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col"><i class="bi bi-building"></i> Building</th>
                          <th scope="col"><i class="bi bi-bicycle"></i> On-Road</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id="building"></td>
                          <td id="road"></td>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>

       </div>
    </div>
  </div>
</div>
<script>

    function getColor(d) {
        return d > 0.9 ? '#2E7D32' :
               d > 0.8  ? '#66BB6A' :
               d > 0.7  ? '#96ED89' :
               d > 0.6  ? '#BEEB9F' :
               d > 0.5   ? '#BEDB39' :
               d > 0.4   ? '#e2efa6' :
               d > 0.3   ? '#FFB03B':
               d > 0.2   ? '#de8163':
               d > 0.1   ? '#c24e29':
              '#a02d00';
    }
    
    function style(feature) {
        return {
            fillColor: getColor(feature.properties.density),
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }
    
    var posLeafIcon = L.icon({
        iconUrl: "{{url_for('static', filename='images/icon_green.png')}}",
        iconSize: [25, 25]
    });

    var negLeafIcon = L.icon({
        iconUrl: "{{url_for('static', filename='images/icon_red.png')}}",
        iconSize: [25, 25]
    });

    var neuLeafIcon = L.icon({
        iconUrl: "{{url_for('static', filename='images/icon_yellow.png')}}",
        iconSize: [25, 25]
    });

    var progress = document.getElementById("pbar");
    progress.style.visibility="hidden";
    
    var error_message = document.getElementById("tile-error");
    error_message.style.visibility="hidden";

    var success_message = document.getElementById("tile-success");
    success_message.style.visibility="hidden";

    $('.blockquote').hide();
    
    // center of the map
    var center = [0, 0];

    // Set up the OSM layer
    var osm = L.tileLayer(
      'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
        maxZoom: 18
      });

    var gmap = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });

    // Create the map
    var map = L.map('digisat', {
      center: [40.04, -99.58],
      zoom: 4,
      layers: [osm, gmap]
    });

    var baseMaps = {
        "Google": gmap,
        "OSM": osm
    };

    L.control.layers(baseMaps).addTo(map);
    
    // Initialise the FeatureGroup to store editable layers
    var editableLayers = new L.FeatureGroup();
    map.addLayer(editableLayers);

    function clearMap() {
      map.eachLayer(function (layer) {
          if ('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png' != layer._url){map.removeLayer(layer)};
      });
    }

    var drawPluginOptions = {
      position: 'topright',
      draw: {
        polygon: false,
        polyline: false,
        circle: false, // Turns off this drawing tool
        rectangle: true,
        marker: false,
        },
      edit: {
        featureGroup: editableLayers, //REQUIRED!!
        remove: false
      }
    };

    // Initialise the draw control and pass it the FeatureGroup of editable layers
    var drawControl = new L.Control.Draw(drawPluginOptions);
    map.addControl(drawControl);

    var editableLayers = new L.FeatureGroup();
    map.addLayer(editableLayers);

    map.on('draw:drawstart', function(e) {
      progress.style.visibility="hidden";
      success_message.style.visibility="hidden";
      error_message.style.visibility="hidden";
      editableLayers.clearLayers(e.layer);
    });    

    // Functions for custom icons
    function onEachFeaturePos(feature, layer) {
        if (layer instanceof L.Marker) {
          layer.setIcon(posLeafIcon)
        }
    }

    function onEachFeatureNeg(feature, layer) {
        if (layer instanceof L.Marker) {
          layer.setIcon(negLeafIcon)
        }
    }

    function onEachFeatureNeu(feature, layer) {
        if (layer instanceof L.Marker) {
          layer.setIcon(neuLeafIcon)
        }
    }
    
    // Ajax Request for Select Menu time
    $('#sentiment_by_time').change(function (){

      var start_time = $(this).val()
      console.log(start_time);
      var time = {value: start_time}

      $.ajax({
            url: '/sentiment',
            type: 'POST',
            data: JSON.stringify({time}),
            contentType: 'application/json;charset=UTF-8'
        })
        .done(function(result){
          
          clearMap();

            if (result == "0") {
              error_message.style.visibility="visible";
            } else {

              $.getJSON("{{url_for('static', filename='geojson/sentiment.geojson')}}", function( data ) {
                L.geoJson(data, {style: style}).addTo(map);
              });

            }
        })
    });

    // Ajax Request for Select Menu Sentiment
    $('#tweet_by_sentiment').change(function (){

      var sentiment = $(this).val()
      console.log(sentiment);
      var sentiment_type = {value: sentiment}

      $.ajax({
            url: '/positive_negative_tweets',
            type: 'POST',
            data: JSON.stringify({sentiment_type}),
            contentType: 'application/json;charset=UTF-8'
        })
        .done(function(result){

            clearMap();

            if (result == "0") {
              error_message.style.visibility="visible";
            } else {
              
              if (sentiment == "Positive") {
                
                $.getJSON("{{url_for('static', filename='geojson/sentiment_marker.geojson')}}", function( data ) {
                  L.geoJson(data, {
                      onEachFeature: onEachFeaturePos
                  }).addTo(map);
                });
              
              } else if (sentiment == "Negative") {
              
                $.getJSON("{{url_for('static', filename='geojson/sentiment_marker.geojson')}}", function( data ) {
                  L.geoJson(data, {
                      onEachFeature: onEachFeatureNeg
                  }).addTo(map);
                });
              
              } else {
              
                $.getJSON("{{url_for('static', filename='geojson/sentiment_marker.geojson')}}", function( data ) {
                  L.geoJson(data, {
                      onEachFeature: onEachFeatureNeu
                  }).addTo(map);
                });
              
              }

            }
        })
      });

    // Ajax Request for new tweets
    $('#get_tweets').click(function() {

      progress.style.visibility="visible";

      $.ajax({
            url: '/etl',
            type: 'POST',
            contentType: 'application/json;charset=UTF-8'
        })
        .done(function(result){
        
            if (result == "0") {
              error_message.style.visibility="visible";
            } else {
              progress.style.visibility="hidden";
              $('#db_count').text(result)

            }
        })
      });

    map.on('draw:created', function(e) {

      clearMap();

      var type = e.layerType,
        layer = e.layer;

      editableLayers.addLayer(layer);
      error_message.style.visibility="hidden";
      success_message.style.visibility="hidden";
      progress.style.visibility="visible";

      var json = editableLayers.toGeoJSON();
      var coords = {value: bbox(json)}
      var geojson = {value: json}

      // Ajax Request for Bounding Box

      $.ajax({
          url: '/tweets',
          type: 'POST',
          data: JSON.stringify({geojson}),
          contentType: 'application/json;charset=UTF-8'
      })
      .done(function(result){     
          progress.style.visibility="hidden";

          if (result == "0") {
            error_message.style.visibility="visible";
          } else {

            var div = document.getElementById('tile-success-text');
            div.innerHTML += 'Feteched Tweets <b>';

            $.getJSON("{{url_for('static', filename='geojson/tweets.geojson')}}", function( data ) {
              L.geoJson(data).addTo(map);
            });

            // Ajax Request for Statistics

            $.ajax({
                url: '/statistics',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                headers: { "Cache-Control": "no-cache" }
            })
            .done(function(result){     
                progress.style.visibility="hidden";

                if (result == "0") {
                  error_message.style.visibility="visible";
                } else {
                  var div = document.getElementById('tile-success-text');
                  div.innerHTML += 'Building Stats Table <b>';                          
                  
                  $('#table-results').remove()
                  console.log(result)
                  $('#wordcloud-results').html("<img style='width:100%' src={{url_for('static', filename='images/wordcloud.png')}}?"+Math.random()+"/>")
                  $('#table-devices-results').html(result['tweet_devices'])

                  $('#state').text(result['state'])
                  $('#area').text(result['area'])
                  $('#count').text(result['tweet_count'])

                  // Create Chart
                  var ctx = document.getElementById('lineChart').getContext("2d");
                  var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                      labels: result['sentiment_overday'][0],
                      datasets: [
                        {
                          label: "Positive Sentiment",
                          data: result['sentiment_overday'][1],
                        }
                      ]
                    }, options: {
                      responve: true
                    }
                  })
                  
                }
            })

          }
      })

      // Ajax Request for OSM

      $.ajax({
          url: '/osm',
          type: 'POST',
          data: JSON.stringify({coords}),
          contentType: 'application/json;charset=UTF-8'
      })
      .done(function(result){

          if (result == "0") {
            error_message.style.visibility="visible";
          } else {
            error_message.style.visibility="hidden";
            success_message.style.visibility="visible";

            var div = document.getElementById('tile-success-text');
            div.innerHTML += 'Downloaded Road Network <b>';

            $.getJSON("{{url_for('static', filename='geojson/roads.geojson')}}", function( data ) {
              L.geoJson(data).addTo(map);
            });
            
            console.log(result)
            $('.blockquote').show();
            $('#building').text(result['tweet_count'][0])
            $('#road').text(result['tweet_count'][1])
            
          }
      }) 
            

    });

</script>
</body>
</html>